*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: slategrey;
}
.container{
    padding: 30px 20px;
    border-radius: 5px;
    background-color: #fff;
    max-width: 500px;
    width: 100%;
}
.inputs{
    position: relative;
}
#passwordValue{
    border: 1px solid #000;
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border-radius: 4px;
    outline: none;
    font-size: 20px;
    color: #000;
    letter-spacing: 2px;
}
i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}
.range{
    margin-top: 20px;
    position: relative;
}
.range span{
    font-size: 20px;
}
.range input{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px;
}
.range span:last-child{
    position: absolute;
    right: 30px;
    bottom: 0;
}
.details{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10px;
    font-size: 18px;
    list-style: none;
}
.option{
    display: flex;
    justify-content: space-between;
}
.option input{
    width: 20px;
    height: 20px;
}
button{
    margin-top: 30px;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: slategrey;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
}